<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.RequisicoesUsuarios</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validarListaUsuarios</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateInfoUsuario</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>criarUsuario</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>buscarUsuarioID</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AcessarAPI</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
