<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c82f3">  <td>21/09/20 20:45:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RequisicoesUsuarios.AcessarAPI()[pri:0, instance:tests.RequisicoesUsuarios@721e0f4f]">&gt;&gt;AcessarAPI</td> 
<td>&nbsp;</td>  <td>main@1060830840</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>21/09/20 20:45:51</td>   <td>861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequisicoesUsuarios.buscarUsuarioID()[pri:0, instance:tests.RequisicoesUsuarios@721e0f4f]">buscarUsuarioID</td> 
  <td>main@1060830840</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>21/09/20 20:45:54</td>   <td>4020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RequisicoesUsuarios.AcessarAPI()[pri:0, instance:tests.RequisicoesUsuarios@721e0f4f]">&gt;&gt;AcessarAPI</td> 
<td>&nbsp;</td>  <td>main@1060830840</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>21/09/20 20:45:54</td>   <td>4020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequisicoesUsuarios.criarUsuario()[pri:0, instance:tests.RequisicoesUsuarios@721e0f4f]">criarUsuario</td> 
  <td>main@1060830840</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>21/09/20 20:45:55</td>   <td>4607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RequisicoesUsuarios.AcessarAPI()[pri:0, instance:tests.RequisicoesUsuarios@721e0f4f]">&gt;&gt;AcessarAPI</td> 
<td>&nbsp;</td>  <td>main@1060830840</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>21/09/20 20:45:55</td>   <td>4608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequisicoesUsuarios.updateInfoUsuario()[pri:0, instance:tests.RequisicoesUsuarios@721e0f4f]">updateInfoUsuario</td> 
  <td>main@1060830840</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>21/09/20 20:45:57</td>   <td>6438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RequisicoesUsuarios.AcessarAPI()[pri:0, instance:tests.RequisicoesUsuarios@721e0f4f]">&gt;&gt;AcessarAPI</td> 
<td>&nbsp;</td>  <td>main@1060830840</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>21/09/20 20:45:57</td>   <td>6439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RequisicoesUsuarios.validarListaUsuarios()[pri:0, instance:tests.RequisicoesUsuarios@721e0f4f]">validarListaUsuarios</td> 
  <td>main@1060830840</td>   <td></td> </tr>
</table>
